<header class="library-header">

    <div class="container">
        <div class="header__wrap">
            <div class="logo-wrap">
                <a class="logo" href="./index.html">
                    <img class="logo__img" src="images/logo-film.png" alt="logo">
                </a>
                <h1 class="logo__title">Filmoteka</h1>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="./index.html">Home</a></li>
                    <li class="nav__item nav__item--active"><a class="nav__link" href="./my-library.html">my library</a></li>
                </ul>
            </nav>
        </div>
        <ul class="buttons">
            <button type="button" class="btn">Watched</button>
            <button type="button" class="btn">queue</button>
        </ul>

    </div>


</header>