<div class="pagination">
    <div class="container">
        <div class="pagination__wrap">
            
            <button type="button" class="pagination__btn pagination__arrow" disabled id="prev-page">
                <svg class="pagination__arrow-svg" width="15" height="15">
                    <use href="./images/svg/symbol-defs.svg#icon-heart"></use>
                </svg>
            </button>

            <ul class="pagination__page-buttons">
                <!-- <button type="button" class="pagination__btn page pagination__activ ">1</button>
                <button type="button" class="pagination__btn page">2</button>
                <button type="button" class="pagination__btn page">3</button>
                <button type="button" class="pagination__btn page">4</button>
                <button type="button" class="pagination__btn page">5</button>
                <button type="button" class="pagination__btn page">6</button>
                <button type="button" class="pagination__btn page">7</button>
                <button type="button" class="pagination__btn page">8</button>
                <button type="button" class="pagination__btn page">9</button>   -->
            </ul>

            <button type="button" class="pagination__btn pagination__arrow" id="next-page">
                <svg class="pagination__arrow-svg" width="15" height="15">
                    <use href="./images/svg/symbol-defs.svg#icon-heart"></use>
                </svg>
            </button>
           
        </div>
    </div>
</div>