<div class="pagination">
    <div class="container">
        <div class="pagination__wrap">
            
            <button type="button" class="pagination__btn pagination__arrow" disabled id="prev-page">
                <svg class="pagination__arrow-svg" width="15" height="15">
                    <use href="./images/svg/symbol-defs.svg#icon-arrow-left"></use>
                </svg>
            </button>

            <ul class="pagination__page-buttons"></ul>

            <button type="button" class="pagination__btn pagination__arrow" id="next-page">
                <svg class="pagination__arrow-svg" width="15" height="15">
                    <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
            </button>
           
        </div>
    </div>
</div>