.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    
    width: 100%;

}


.auth-form__input{
width: 270px;
height: 40px;
border-radius: 5px;
border: 1px solid $dark-text-color;
margin-bottom: 10px;

&:focus{
    border: none;
    outline: 3px solid $accent-color;

}
@media screen and (min-width: 768px){
width: 410px;
height: 50px;
}

}
.auth-form__group{
    margin-bottom: 40px;
    
}
.auth__success-msg{
    @include font(33px, 1.33, 500);
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
        @include font(38px, 1.33, 500);
        margin-bottom: 50px;
    }
}
.auth__logout{
    text-align: center;
}