.buttons {
    
    text-align: center;
    margin-top: 60px;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
}

.btn{
    display: inline-block;
    border: 1px solid $light-text-color;
    background-color: transparent;
    border-radius: 5px;
    color: $light-text-color;
    width: 129px;
    height: 44px;
    outline: none;

    @media screen and (min-width: 768px) {
        width: 152px;
        }

    @media screen and (min-width: 1024px) {
        width: 147px;
        height: 42px;
        }
    &:focus, 
    &:hover{
        background-color: $accent-color;
        border-color: $accent-color;
        color: $light-text-color;
    }
      
}
.btn:not(:last-child){
    margin-right: 18px;

    @media screen and (min-width: 768px) {
        margin-right: 32px;
        }
    @media screen and (min-width: 1024px) {
        margin-right: 16px;
        }
}

.btn-modal{
    @extend .btn;
    width: 110px;
    border-color: #000;
    color: #000;

    @media screen and (min-width: 768px) {
            width: 126px;
        }
                
    @media screen and (min-width: 1024px) {
            width: 136px;
            height: 44px;
                }
}
.modal__option-buttons {
    display: flex;
    justify-content: center;
    // text-align: center;
  
}


