.movie-card{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
    
           flex-direction: row;
        }
}
.movie-card__poster{

    width: 100%;
    height: 357px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
    
        width: 264px;
        height: 374px;
        margin-right: 68px;

        }

    @media screen and (min-width: 1024px) {

        width: 375px;
        height: 478px;
        margin-right: 16px;

        }
}

.film-card__title{
    @include font(20px, 1.15, 500);
    color: #000;

    margin-bottom: 20px;

    @media screen and (min-width: 1024px){
        @include font(30px, 1.17, 500);
    }
}
.film-card__details{
    margin-bottom: 20px;
}
.film-card__detail {
    display: inline-block;
    width: 69px;
@include font(12px, 1.33, 500);
color: #8C8C8C;
margin-right: 39px;

&:not(:last-child) {
        margin-bottom: 8px;
        
    }

}

.film-card__value {
display: inline-flex;
    @include font(12px, 1.33, 500);
    color: #000;
width: 130px;

  
}
.film-card__value--upper{
    text-transform: uppercase;
}
.film-card__value--accent{
    background-color: $accent-color;
    width: 36px;
    height: 16px;
    text-align: center;
    border-radius: 5px;
}
.film-card__about{
    @include font(12px, 1.33, 500);
    text-transform: uppercase;
    color: #000;
    margin-bottom: 8px;
}
.film-card__description{
    @include font(12px, 1.67, 500);
    margin-bottom: 20px;
}