.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $footer-bg-color;
}

.footer__container{
    text-align: center;

    @media screen and (min-width: 768px){
    display: flex;
    justify-content: center;
    }
}

.footer__text{
 @include font(14px, 1.14, 400);
 color: $footer-text-color;

 &:not(:last-child){
 margin-bottom: 10px;
}
}

.footer__icon{
    margin-right: 10px;
    margin-left: 10px;
}
.footer__link{
    color: inherit;
    text-decoration: underline;
}