.logo{
    // display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    outline: 1px solid $accent-color;
    border-radius: 2px;
    margin-right: 20px;
}

.logo-wrap{
    display: flex;
    align-items: baseline;
}
.logo__title{
    display: none;

    @media screen and (min-width: 768px) {
        display: block;

        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: $light-text-color;
    }
}

.logo__img{
    display: block;
    width: 24px;
    height: 24px;

    animation-name: move;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
 .logo::before {
     @extend .logo__img;
     position: absolute;
     content: "";
     top: -100%;
     background-image: url(/src/images/logo-film.png);
 }

@keyframes move {
    0% {
        transform: translatey(0);
    }

    100% {
        transform: translatey(24px);
    }
}