.pagination{
    margin-bottom: 60px;
}
.pagination__wrap{
    display: flex;
    justify-content: center;
    align-items:center;
}
.pagination__btn{
    
    width: 40px;
    height: 40px;
background-color: transparent;
border: none;

}
.pagination__arrow{
    background-color: $footer-bg-color;
   fill: currentColor;
   border-radius: 5px;
    &:hover,
    &:focus{
        background-color: $accent-color;
        color: $light-text-color;
    }
}
.pagination__activ{
    background-color: $accent-color;
    border-radius: 5px;
}