.search-form{
 display: flex;
 width: 100%;
margin-top: 50px;
 border-bottom: 1px solid white;

@media screen and (min-width: 768px) {
        width: 336px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
}
}
.search-form__input{
width: 100%;    
background-color: transparent;
border: none;
color: $light-text-color;
outline: none;
}

.search-form__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search-form__icon{
 width: 12px;
 height: 12px; 
}